# Sample infrapy config file for updated CLI and DB interface
#
# Example uses:
# infrapy run_assoc --config-file config/assoc_example.config --cpu-cnt 10

[DETECTION IO]
local_dets_in = data/detection_set1.json
local_events_out = assoc_out

[ASSOC]
range_max = 2000.0
back_az_width = 10.0
distance_matrix_max = 8.0
cluster_linkage = weighted
cluster_threshold = 4.0
trimming_threshold = 3.8
event_population_min = 3
event_station_min = 2
