# Sample infrapy config file for beamforming (fk) and detection (fd) analysis 
#
# Example uses:
# infrapy run_fk --config-file config/detection_local.config --cpu-cnt 10
# infrapy run_fkd --config-file config/detection_local.config --cpu-cnt 10
#
# infrapy plot_fk --config-file config/detection_local.config
# infrapy plot_fd --config-file config/detection_local.config


[WAVEFORM IO]
local_wvfrms = data/YJ.BRP*.SAC

[DETECTION IO]
local_fk_label = auto
local_detect_label = auto

[FK]
freq_min = 1.0
freq_max = 5.0
window_len = 10.0
window_step = 5.0

[FD]
p_value = 0.05
min_duration = 20.0




