# Sample infrapy config file for running beamforming (fk) and detection (fd) 
# analysis in sequence 
#
# Example uses:
# infrapy run_fk --config-file config/detection_fdsn.config --cpu-cnt 10
# infrapy run_fkd --config-file config/detection_fdsn.config --cpu-cnt 10
#
# infrapy plot_fk --config-file config/detection_fdsn.config
# infrapy plot_fd --config-file config/detection_fdsn.config
 

[WAVEFORM IO]
fdsn = IRIS
network = IM
station = I53*
location = *
channel = *DF
starttime = 2018-12-19T01:00:00
endtime = 2018-12-19T03:00:00

[DETECTION IO]
local_fk_label = auto
local_detect_label = auto

[FK]
freq_min = 0.08
freq_max = 2.0
window_len = 20.0
window_step = 10.0

[FD]
min_duration = 40.0



