# Sample infrapy config file for running detection (fd) analysis 
# on fk results
#
# Example uses (run from infrapy's examples directory after running fk_example1.config):
# infrapy run_fd --config-file config/fd_example1.config
#

[WAVEFORM IO]
local_wvfrms = data/YJ.BRP*.SAC

[DETECTION IO]
local_fk_label = YJ.BRP4_18.00.00-18.19.59
local_detect_label = auto

[FD]
window_len = 3600
p_value = 0.95
min_duration = 10.0
back_az_width = 15.0

