# Sample infrapy config file for running fk (beamforming) analysis 
# on data pulled from an FDSN (e.g., IRIS)
#
# Example uses:
# infrapy run_fk --config-file config/fk_example2.config --cpu-cnt 10
# 

[WAVEFORM IO]
fdsn = IRIS
network = IM
station = I53*
location = *
channel = *DF
starttime = 2019-10-10T18:00:00.00
endtime = 2019-10-10T19:00:00.00

[DETECTION IO]
local_fk_out = auto

[FK]
freq_min = 1.0
freq_max = 5.0
win_len = 5
win_step = 2.5

