# Sample infrapy config file for running fk (beamforming) analysis 
# on data pulled from an FDSN (e.g., IRIS)
#
# Example uses:
# infrapy run_fk --config-file user.config --cpu-cnt 14
# 


[WAVEFORM IO]
fdsn = IRIS
network = IM
station = I53*
location = *
channel = *DF
starttime = 2019-10-10T18:00:00.00
endtime = 2019-10-10T18:10:00.00

[DETECTION IO]
local_fk_out = auto

[FK]
freq_min = 0.5
freq_max = 5.0
back_az_min = -180.0
back_az_max = 180.0
back_az_step = 2.0
trace_vel_min = 300.0
trace_vel_max = 600.0
trace_vel_step = 2.5
method = bartlett
signal_start = None
signal_end = None
noise_start = None
noise_end = None
win_len = 10
win_step = 5
multithread = True
cpu_cnt = 10 

