# Sample infrapy config file for running beamforming (fk) analysis on
# local waveform data
#
# Example uses (run from infrapy's examples directory):
# infrapy run_fk --config-file config/fk_example1.config --cpu-cnt 10
# 

[WAVEFORM IO]
local_wvfrms = data/YJ.BRP*.SAC

[DETECTION IO]
local_fk_label = auto

[FK]
freq_min = 0.5
freq_max = 2.0
win_len = 10
win_step = 5

