# Sample infrapy config file for running beamforming (fk) and detection (fd) 
# analysis in sequence 
#
# Example uses:
# infrapy run_fkd --config-file config/fkd_example.config --cpu-cnt 10
 

[WAVEFORM IO]
local_wvfrms = data/YJ.BRP*.SAC

[DETECTION IO]
local_fk_out = auto
local_fd_out = auto

[FK]
freq_min = 1.0
freq_max = 5.0
win_len = 5
win_step = 2.5
cpu_cnt = 8

[FD]
window_len = 3600
p_value = 0.99
min_duration = 10.0
back_az_width = 15.0



