# Sample infrapy config file for updated CLI and DB interface
#
# Example uses:
# infrapy run_loc --config-file config/loc_example.config --local-loc-label data/location2.json
# infrapy run_loc --config-file config/loc_example.config --local-loc-label data/location2.json --pgm-file ../infrapy/propagation/priors/UTTR_models/UTTR_06_1800UTC.pgm

[DETECTION IO]
local_event_label = data/detection_set2.json
local_loc_label = data/location2

[LOC]
back_az_width = 15.0
range_max = 1000.0
resolution = 360
PGM_file = None



