# Sample infrapy config file for updated CLI and DB interface
#
# Example uses:
# infrapy run_loc --config-file config/loc_example.config 
# infrapy run_loc --config-file config/loc_example.config --pgm-model ../infrapy/propagation/priors/UTTR_models/UTTR_06_1800UTC.pgm

[DETECTION IO]
local_dets_in = data/detection_set2.json
local_events_out = loc_out

[LOC]
back_az_width = 15.0
range_max = 2000.0
resolution = 360
PGM_file = None



