# Sample infrapy config file to run TRIBL
#
# infrapy run_loc --config-file config/loc_example.config 

[DETECTION IO]
detect_label = data/Blom_etal2024_GJI/UTTR.dets.json
local_loc_label = data/Blom_etal2024_GJI/UTTR-TRIBL_ensemble

[LOC]
atmo_data = data/Blom_etal2024_GJI/ensemble/10m_s*.met

range_max = 1250
ll_corner = 40.5, -113.5
ur_corner = 41.75, -112.0
alt_bounds = 0, 0

latlon_resol = 0.04
alt_resol = 1.0

tm_min = 2010-01-01T12:03:00
tm_max = 2010-01-01T12:09:00
tm_resol = 5.0

grnd_snd_spd_stdev = 5.0
det_tm_stdev = 5.0

local_temp_dir = data/Blom_etal2024_GJI/temp-ensemble

