# Sample infrapy config file for updated CLI and DB interface
#
# Example uses:
# infrapy run_fk --config-file user.config --cpu-cnt 14
# infrapy run_fd --config-file user.config
# infrapy run_assoc --config-file user.config --cpu-cnt 14
# 

#[database]
## options for oracle database:
# url = oracle://<db name>:<db port>
# site = global_:Site
# wfdisc = global_:Wfdisc_raw
# origin = global_:Origin

## parameters for sqlite database: 
# url = sqlite:///test.sqlite
# site = pisces.tables.css3:Site
# wfdisc = pisces.tables.css3:Wfdisc
# origin = pisces.tables.css3:Origin

[WAVEFORM IO]
local_wvfrms = /Users/pblom/Research/Coding/Packages/infrapy/examples/data/*.SAC

# fdsn = IRIS
network = IM
station = I53*
location = *
channel = *DF
starttime = 2019-10-10T18:00:00.00
endtime = 2019-10-10T18:10:00.00

[DETECTION IO]
local_fk_out = auto
local_fk_in = YJ.BRP4_18.00.00-18.19.59
local_fd_out = auto
local_dets_in = assoc_test/*_2011_01_08_14.json
local_events_out = assoc_test/events/2011-01-10T19.00.00

starttime = 2011-01-10T19:00:00.00
endtime = 2011-01-10T20:00:00.00

[FK]
freq_min = 0.5
freq_max = 5.0
back_az_min = -180.0
back_az_max = 180.0
back_az_step = 2.0
trace_vel_min = 300.0
trace_vel_max = 600.0
trace_vel_step = 2.5
method = bartlett
signal_start = None
signal_end = None
noise_start = None
noise_end = None
win_len = 10
win_step = 5
multithread = True
cpu_cnt = 10 

[FD]
window_len = 3600
p_value = 0.99
min_duration = 10.0
back_az_width = 15.0
fixed_thresh = None
return_thresh = False

[ASSOC]
range_max = 750.0
back_az_width = 10.0
resolution = 180
distance_matrix_max = 8.0
cluster_linkage = weighted
cluster_threshold = 4.0
trimming_threshold = 3.8
event_population_min = 3
event_station_min = 2
multithread = False

[LOC]
back_az_width = 15.0
range_max = 2000.0
resolution = 360
PGM_file = None

[YIELD]
source_loc = [30.0, -105.0]
freq_min = 0.25
freq_max = 1.0
yld_min = 1e3
yld_max = 1e6
ref_range = 1.0
multithread = False


